@blue: blue;
@sky: rgb(129,200,216);
@summer-sky: rgb(56,176,222);
@indigo: rgb(75,0,130);
@azure: rgb(0,128,255);
@artic: rgb(198,230,251);
@lapis: rgb(38,27,156);
@admiral: rgb(44,56,99);
@saphire: rgb(8,37,103);
@green: green;
@shamrock: rgb(0,158,96);
@lime: rgb(191,255,0);
@seafoam: rgb(113,238,);
@forest: rgb(11,102,35);
@emerald: rgb(1,152,117);
@yellow: yellow;
@amber: rgb(255,191,0);
@canary: rgb(255,239,0);
@gold: rgb(249,166,2);
@fire: rgb(253,165,15);
@honey: rgb(235,150,5);

@orange: orange;
@tangerine: rgb(242,133,0);
@tiger: rgb(253,106,2);
@carrot: rgb(237,145,33);
@sandstone: rgb(215,144,44);
@brown: brown;
@clay: rgb(115,66,34);
@spice: rgb(121,56,2);
@rust: rgb(139,64,0);
@ginger: rgb(176,101,0);
@red: red;
@cherry: rgb(121,6,4);
@scarlet: rgb(255,36,0);
@ruby: rgb(155,17,30);
@pink: pink;
@fuchsia: rgb(255,0,255);
@magenta: rgb(255,0,144);
@flamingo: rgb(252,163,183);
@rose: rgb(255,102,204);
@purple: purple;
@lilac: #AA7ED6;
@amethyst: rgb(153,102,204);

@biscay: #1b486b;
@eucalyptus: #28a352;
@conifer: #b2db34;
@fuel-yellow: #f2ac34;
@crusta: #fc7634;
@imperial-purple: #541d61;
@wild-aster: #8f3066;
@popstar: #c05166;
@roasted-sienna: #e88666;
@spiced-nectarine: #fcb76f;
@ebony-clay: #1f242e;
@royal-blue: #5269e0;
@picton-blue: #4799eb;
@eastern-blue: #14aab8;
@chardonnay: #ffc980;
@legion-blue: #1f4e5a;
@spectra-green: #029c8e;
@golden-nectar: #ffdb69;
@echinoida-torns: #ffa658;
@teri-gaki-persimmon: #ea5f40;
@bracing-blue: #004682;
@spanish-blue: #0370b7;
@tomb-blue: #0295ce;
@exquisite-turquoise: #07d1bf;
@thallium-flame: #60f4a0;

:root {
    --blue: blue;
    --sky: rgb(129,200,216);
    --summer-sky: rgb(56,176,222);
    --indigo: rgb(75,0,130);
    --azure: rgb(0,128,255);
    --artic: rgb(198,230,251);
    --lapis: rgb(38,27,156);
    --admiral: rgb(44,56,99);
    --saphire: rgb(8,37,103);
    --green: green;
    --shamrock: rgb(0,158,96);
    --lime: rgb(191,255,0);
    --seafoam: rgb(113,238,);
    --forest: rgb(11,102,35);
    --emerald: rgb(1,152,117);
    --yellow: yellow;
    --amber: rgb(255,191,0);
    --canary: rgb(255,239,0);
    --gold: rgb(249,166,2);
    --fire: rgb(253,165,15);
    --honey: rgb(235,150,5);

    --orange: orange;
    --tangerine: rgb(242,133,0);
    --tiger: rgb(253,106,2);
    --carrot: rgb(237,145,33);
    --sandstone: rgb(215,144,44);
    --brown: brown;
    --clay: rgb(115,66,34);
    --spice: rgb(121,56,2);
    --rust: rgb(139,64,0);
    --ginger: rgb(176,101,0);
    --red: red;
    --cherry: rgb(121,6,4);
    --scarlet: rgb(255,36,0);
    --ruby: rgb(155,17,30);
    --pink: pink;
    --fuchsia: rgb(255,0,255);
    --magenta: rgb(255,0,144);
    --flamingo: rgb(252,163,183);
    --rose: rgb(255,102,204);
    --purple: purple;
    --lilac: #AA7ED6;
    --amethyst: rgb(153,102,204);

    --biscay: #1b486b;
    --eucalyptus: #28a352;
    --conifer: #b2db34;
    --fuel-yellow: #f2ac34;
    --crusta: #fc7634;
    --imperial-purple: #541d61;
    --wild-aster: #8f3066;
    --popstar: #c05166;
    --roasted-sienna: #e88666;
    --spiced-nectarine: #fcb76f;
    --ebony-clay: #1f242e;
    --royal-blue: #5269e0;
    --picton-blue: #4799eb;
    --eastern-blue: #14aab8;
    --chardonnay: #ffc980;
    --legion-blue: #1f4e5a;
    --spectra-green: #029c8e;
    --golden-nectar: #ffdb69;
    --echinoida-torns: #ffa658;
    --teri-gaki-persimmon: #ea5f40;
    --bracing-blue: #004682;
    --spanish-blue: #0370b7;
    --tomb-blue: #0295ce;
    --exquisite-turquoise: #07d1bf;
    --thallium-flame: #60f4a0;   
}