:root {
  --blue: blue;
  --sky: #81c8d8;
  --summer-sky: #38b0de;
  --indigo: #4b0082;
  --azure: #0080ff;
  --artic: #c6e6fb;
  --lapis: #261b9c;
  --admiral: #2c3863;
  --saphire: #082567;
  --green: green;
  --shamrock: #009e60;
  --lime: #bfff00;
  --seafoam: #71eeb8;
  --forest: #0b6623;
  --emerald: #019875;
  --yellow: yellow;
  --amber: #ffbf00;
  --canary: #ffef00;
  --gold: #f9a602;
  --fire: #fda50f;
  --honey: #eb9605;
  --orange: orange;
  --tangerine: #f28500;
  --tiger: #fd6a02;
  --carrot: #ed9121;
  --sandstone: #d7902c;
  --brown: brown;
  --clay: #734222;
  --spice: #793802;
  --rust: #8b4000;
  --ginger: #b06500;
  --red: red;
  --cherry: #790604;
  --scarlet: #ff2400;
  --ruby: #9b111e;
  --pink: pink;
  --fuchsia: #ff00ff;
  --magenta: #ff0090;
  --flamingo: #fca3b7;
  --rose: #ff66cc;
  --purple: purple;
  --lilac: #AA7ED6;
  --amethyst: #9966cc;
  --biscay: #1b486b;
  --eucalyptus: #28a352;
  --conifer: #b2db34;
  --fuel-yellow: #f2ac34;
  --crusta: #fc7634;
  --imperial-purple: #541d61;
  --wild-aster: #8f3066;
  --popstar: #c05166;
  --roasted-sienna: #e88666;
  --spiced-nectarine: #fcb76f;
  --ebony-clay: #1f242e;
  --royal-blue: #5269e0;
  --picton-blue: #4799eb;
  --eastern-blue: #14aab8;
  --chardonnay: #ffc980;
  --legion-blue: #1f4e5a;
  --spectra-green: #029c8e;
  --golden-nectar: #ffdb69;
  --echinoida-torns: #ffa658;
  --teri-gaki-persimmon: #ea5f40;
  --bracing-blue: #004682;
  --spanish-blue: #0370b7;
  --tomb-blue: #0295ce;
  --exquisite-turquoise: #07d1bf;
  --thallium-flame: #60f4a0;
}
