/* basic classes */
* {
  box-sizing: border-box;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.hide-none {
  visibility: hidden;
  display: none;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.hide-height {
  visibility: hidden;
  height: 0;
}
.show-height {
  visibility: hidden;
  height: auto;
}
.show-block {
  visibility: visible;
  display: block;
}
.show-flex {
  visibility: visible;
  display: flex;
}
.show-grid {
  visibility: visible;
  display: grid;
}
.transition-02 {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.transition-05 {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.transition-07 {
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}
.transition-1 {
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.transition-15 {
  transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
}
.ease {
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
.linear {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}
.ease-in {
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.bold {
  font-weight: bold;
}
.font-w-100 {
  font-weight: 100;
}
.font-w-200 {
  font-weight: 200;
}
.font-w-300 {
  font-weight: 300;
}
.font-w-400 {
  font-weight: 400;
}
.font-w-500 {
  font-weight: 500;
}
.font-w-600 {
  font-weight: 600;
}
.font-w-700 {
  font-weight: 700;
}
.font-w-800 {
  font-weight: 800;
}
.font-w-900 {
  font-weight: 900;
}
.font-w-1000 {
  font-weight: 1000;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.justify {
  text-align: justify;
}
.font-xlg {
  font-size: 3em;
}
.font-lg {
  font-size: 2em;
}
.font-md {
  font-size: 1.5em;
}
.font-normal {
  font-size: 1em;
}
.title-1 {
  font-size: 2em;
  font-family: serif;
  text-transform: capitalize;
}
.title-2 {
  font-size: 1.5em;
  font-family: serif;
  text-transform: capitalize;
}
.size-full {
  width: 100%;
  height: auto;
}
.size-half {
  width: 50%;
  height: auto;
}
.rounded-border {
  border-radius: 5px;
}
.circle {
  border-radius: 50%;
}
.link {
  text-decoration: none;
}
.link:hover {
  transition-duration: 0.2;
  -webkit-transition-duration: 0.2;
}
.link:click {
  color: inherit;
}
.link:visited {
  color: inherit;
}
.button {
  border-radius: 5px;
  padding: 10px 20px;
  transition-duration: 0.2;
  -webkit-transition-duration: 0.2;
}
