/* basic classes */
* {
  box-sizing: border-box;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.hide-none {
  visibility: hidden;
  display: none;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.show-block {
  visibility: visible;
  display: block;
}
.show-flex {
  visibility: visible;
  display: flex;
}
.show-grid {
  visibility: visible;
  display: grid;
}
.transition-02 {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.transition-05 {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.transition-07 {
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}
.transition-1 {
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.transition-15 {
  transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
}
.ease {
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
.linear {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}
.ease-in {
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.bold {
  font-weight: bold;
}
.font-w-100 {
  font-weight: 100;
}
.font-w-200 {
  font-weight: 200;
}
.font-w-300 {
  font-weight: 300;
}
.font-w-400 {
  font-weight: 400;
}
.font-w-500 {
  font-weight: 500;
}
.font-w-600 {
  font-weight: 600;
}
.font-w-700 {
  font-weight: 700;
}
.font-w-800 {
  font-weight: 800;
}
.font-w-900 {
  font-weight: 900;
}
.font-w-1000 {
  font-weight: 1000;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.justify {
  text-align: justify;
}
.font-xlg {
  font-size: 3em;
}
.font-lg {
  font-size: 2em;
}
.font-md {
  font-size: 1.5em;
}
.font-normal {
  font-size: 1em;
}
.title-1 {
  font-size: 2em;
  font-family: serif;
  text-transform: capitalize;
}
.title-2 {
  font-size: 1.5em;
  font-family: serif;
  text-transform: capitalize;
}
.size-full {
  width: 100%;
  height: auto;
}
.size-half {
  width: 50%;
  height: auto;
}
.rounded-border {
  border-radius: 5px;
}
.circle {
  border-radius: 50%;
}
.link {
  text-decoration: none;
}
.link:hover {
  transition-duration: 0.2;
  -webkit-transition-duration: 0.2;
}
.link:click {
  color: inherit;
}
.link:visited {
  color: inherit;
}
.button {
  border-radius: 5px;
  padding: 10px 20px;
  transition-duration: 0.2;
  -webkit-transition-duration: 0.2;
}
/* underline */
.underline-middle,
.underline-left {
  position: relative;
  text-decoration: none;
}
.underline-middle:before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  bottom: -2px;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.underline-middle:hover:before {
  width: 100%;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.underline-left:after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  bottom: -2px;
  width: 0;
}
.underline-left:hover:after {
  width: 100%;
}
/* message box */
/* -----------------> EDITED <-----------------
By: Luciano Alvez
Ref:https://codepen.io/Nusky/pen/NogRVb?fbclid=IwAR0pArF1_fx4FGqBca5G4kuBt9pE7xa7BL0n5_DcZTl_SBwBVUJpNVwF0wo
*/
.mes-box {
  height: 60px;
  background: #dedede;
  border-radius: 2px;
  margin-top: 20px;
}
.mes-box-theme {
  background: #643a7a;
  max-height: 60px;
  font-size: 26px;
  color: #fff;
  width: 45%;
  font-weight: bold;
  position: relative;
  float: left;
  border-radius: 2px 0 0 0 2px;
}
.mes-box-theme:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -60px;
  width: 0;
  height: 0;
  border-left: 30px solid #643A7A;
  border-right: 45px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.mes-box-title {
  background: #84539e;
  padding: 15px;
  max-width: 5%;
}
.mes-box-content {
  position: relative;
  left: 40px;
  line-height: 60px;
  font-weight: bold;
  font-size: 1rem;
}
/*
* Flexbox, we use an 16 columns style for more detailed websites
*/
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: auto;
}
.flex-1 {
  -ms-flex: 0 0 6.25%;
  -webkit-flex: 0 0 6.25%;
  -moz-flex: 0 0 6.25%;
  flex: 0 0 6.25%;
  max-width: 6.25%;
}
.offset-1 {
  margin: 0 0 0 6.25%;
}
.flex-2 {
  -ms-flex: 0 0 12.5%;
  -webkit-flex: 0 0 12.5%;
  -moz-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.offset-2 {
  margin: 0 0 0 12.5%;
}
.flex-3 {
  -ms-flex: 0 0 18.75%;
  -webkit-flex: 0 0 18.75%;
  -moz-flex: 0 0 18.75%;
  flex: 0 0 18.75%;
  max-width: 18.75%;
}
.offset-3 {
  margin: 0 0 0 18.75%;
}
.flex-4 {
  -ms-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  -moz-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.offset-4 {
  margin: 0 0 0 25%;
}
.flex-5 {
  -ms-flex: 0 0 31.25%;
  -webkit-flex: 0 0 31.25%;
  -moz-flex: 0 0 31.25%;
  flex: 0 0 31.25%;
  max-width: 31.25%;
}
.offset-5 {
  margin: 0 0 0 31.25%;
}
.flex-6 {
  -ms-flex: 0 0 37.5%;
  -webkit-flex: 0 0 37.5%;
  -moz-flex: 0 0 37.5%;
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
.offset-6 {
  margin: 0 0 0 37.5%;
}
.flex-7 {
  -ms-flex: 0 0 43.75%;
  -webkit-flex: 0 0 43.75%;
  -moz-flex: 0 0 43.75%;
  flex: 0 0 43.75%;
  max-width: 43.75%;
}
.offset-7 {
  margin: 0 0 0 43.75%;
}
.flex-8 {
  -ms-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.offset-8 {
  margin: 0 0 0 50%;
}
.flex-9 {
  -ms-flex: 0 0 56.25%;
  -webkit-flex: 0 0 56.25%;
  -moz-flex: 0 0 56.25%;
  flex: 0 0 56.25%;
  max-width: 56.25%;
}
.offset-9 {
  margin: 0 0 0 56.25%;
}
.flex-10 {
  -ms-flex: 0 0 62.5%;
  -webkit-flex: 0 0 62.5%;
  -moz-flex: 0 0 62.5%;
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
.offset-10 {
  margin: 0 0 0 62.5%;
}
.flex-11 {
  -ms-flex: 0 0 68.75%;
  -webkit-flex: 0 0 68.75%;
  -moz-flex: 0 0 68.75%;
  flex: 0 0 68.75%;
  max-width: 68.75%;
}
.offset-11 {
  margin: 0 0 0 68.75%;
}
.flex-12 {
  -ms-flex: 0 0 75%;
  -webkit-flex: 0 0 75%;
  -moz-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.offset-12 {
  margin: 0 0 0 75%;
}
.flex-13 {
  -ms-flex: 0 0 81.25%;
  -webkit-flex: 0 0 81.25%;
  -moz-flex: 0 0 81.25%;
  flex: 0 0 81.25%;
  max-width: 81.25%;
}
.offset-13 {
  margin: 0 0 0 81.25%;
}
.flex-14 {
  -ms-flex: 0 0 87.5%;
  -webkit-flex: 0 0 87.5%;
  -moz-flex: 0 0 87.5%;
  flex: 0 0 87.5%;
  max-width: 87.5%;
}
.offset-14 {
  margin: 0 0 0 87.5%;
}
.flex-15 {
  -ms-flex: 0 0 93.75%;
  -webkit-flex: 0 0 93.75%;
  -moz-flex: 0 0 93.75%;
  flex: 0 0 93.75%;
  max-width: 93.75%;
}
.offset-15 {
  margin: 0 0 0 93.75%;
}
.flex-16 {
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  -moz-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.offset-16 {
  margin: 0 0 0 100%;
}
@media screen and (min-width: 508px) {
  .flex-sm-1 {
    -ms-flex: 0 0 6.25%;
    -webkit-flex: 0 0 6.25%;
    -moz-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .offset-sm-1 {
    margin: 0 0 0 6.25%;
  }
  .flex-sm-2 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    -moz-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .offset-sm-2 {
    margin: 0 0 0 12.5%;
  }
  .flex-sm-3 {
    -ms-flex: 0 0 18.75%;
    -webkit-flex: 0 0 18.75%;
    -moz-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .offset-sm-3 {
    margin: 0 0 0 18.75%;
  }
  .flex-sm-4 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-sm-4 {
    margin: 0 0 0 25%;
  }
  .flex-sm-5 {
    -ms-flex: 0 0 31.25%;
    -webkit-flex: 0 0 31.25%;
    -moz-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .offset-sm-5 {
    margin: 0 0 0 31.25%;
  }
  .flex-sm-6 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    -moz-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .offset-sm-6 {
    margin: 0 0 0 37.5%;
  }
  .flex-sm-7 {
    -ms-flex: 0 0 43.75%;
    -webkit-flex: 0 0 43.75%;
    -moz-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .offset-sm-7 {
    margin: 0 0 0 43.75%;
  }
  .flex-sm-8 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-sm-8 {
    margin: 0 0 0 50%;
  }
  .flex-sm-9 {
    -ms-flex: 0 0 56.25%;
    -webkit-flex: 0 0 56.25%;
    -moz-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .offset-sm-9 {
    margin: 0 0 0 56.25%;
  }
  .flex-sm-10 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    -moz-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .offset-sm-10 {
    margin: 0 0 0 62.5%;
  }
  .flex-sm-11 {
    -ms-flex: 0 0 68.75%;
    -webkit-flex: 0 0 68.75%;
    -moz-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .offset-sm-11 {
    margin: 0 0 0 68.75%;
  }
  .flex-sm-12 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    -moz-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-sm-12 {
    margin: 0 0 0 75%;
  }
  .flex-sm-13 {
    -ms-flex: 0 0 81.25%;
    -webkit-flex: 0 0 81.25%;
    -moz-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .offset-sm-13 {
    margin: 0 0 0 81.25%;
  }
  .flex-sm-14 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    -moz-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .offset-sm-14 {
    margin: 0 0 0 87.5%;
  }
  .flex-sm-15 {
    -ms-flex: 0 0 93.75%;
    -webkit-flex: 0 0 93.75%;
    -moz-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .offset-sm-15 {
    margin: 0 0 0 93.75%;
  }
  .flex-sm-16 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-sm-16 {
    margin: 0 0 0 100%;
  }
  .flex-sm-auto {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: auto;
  }
}
@media screen and (min-width: 758px) {
  .flex-md-1 {
    -ms-flex: 0 0 6.25%;
    -webkit-flex: 0 0 6.25%;
    -moz-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .offset-md-1 {
    margin: 0 0 0 6.25%;
  }
  .flex-md-2 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    -moz-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .offset-md-2 {
    margin: 0 0 0 12.5%;
  }
  .flex-md-3 {
    -ms-flex: 0 0 18.75%;
    -webkit-flex: 0 0 18.75%;
    -moz-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .offset-md-3 {
    margin: 0 0 0 18.75%;
  }
  .flex-md-4 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-md-4 {
    margin: 0 0 0 25%;
  }
  .flex-md-5 {
    -ms-flex: 0 0 31.25%;
    -webkit-flex: 0 0 31.25%;
    -moz-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .offset-md-5 {
    margin: 0 0 0 31.25%;
  }
  .flex-md-6 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    -moz-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .offset-md-6 {
    margin: 0 0 0 37.5%;
  }
  .flex-md-7 {
    -ms-flex: 0 0 43.75%;
    -webkit-flex: 0 0 43.75%;
    -moz-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .offset-md-7 {
    margin: 0 0 0 43.75%;
  }
  .flex-md-8 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-md-8 {
    margin: 0 0 0 50%;
  }
  .flex-md-9 {
    -ms-flex: 0 0 56.25%;
    -webkit-flex: 0 0 56.25%;
    -moz-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .offset-md-9 {
    margin: 0 0 0 56.25%;
  }
  .flex-md-10 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    -moz-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .offset-md-10 {
    margin: 0 0 0 62.5%;
  }
  .flex-md-11 {
    -ms-flex: 0 0 68.75%;
    -webkit-flex: 0 0 68.75%;
    -moz-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .offset-md-11 {
    margin: 0 0 0 68.75%;
  }
  .flex-md-12 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    -moz-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-md-12 {
    margin: 0 0 0 75%;
  }
  .flex-md-13 {
    -ms-flex: 0 0 81.25%;
    -webkit-flex: 0 0 81.25%;
    -moz-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .offset-md-13 {
    margin: 0 0 0 81.25%;
  }
  .flex-md-14 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    -moz-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .offset-md-14 {
    margin: 0 0 0 87.5%;
  }
  .flex-md-15 {
    -ms-flex: 0 0 93.75%;
    -webkit-flex: 0 0 93.75%;
    -moz-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .offset-md-15 {
    margin: 0 0 0 93.75%;
  }
  .flex-md-16 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-md-16 {
    margin: 0 0 0 100%;
  }
  .flex-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: auto;
  }
}
@media screen and (min-width: 992px) {
  .flex-lg-1 {
    -ms-flex: 0 0 6.25%;
    -webkit-flex: 0 0 6.25%;
    -moz-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .offset-lg-1 {
    margin: 0 0 0 6.25%;
  }
  .flex-lg-2 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    -moz-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .offset-lg-2 {
    margin: 0 0 0 12.5%;
  }
  .flex-lg-3 {
    -ms-flex: 0 0 18.75%;
    -webkit-flex: 0 0 18.75%;
    -moz-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .offset-lg-3 {
    margin: 0 0 0 18.75%;
  }
  .flex-lg-4 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-lg-4 {
    margin: 0 0 0 25%;
  }
  .flex-lg-5 {
    -ms-flex: 0 0 31.25%;
    -webkit-flex: 0 0 31.25%;
    -moz-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .offset-lg-5 {
    margin: 0 0 0 31.25%;
  }
  .flex-lg-6 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    -moz-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .offset-lg-6 {
    margin: 0 0 0 37.5%;
  }
  .flex-lg-7 {
    -ms-flex: 0 0 43.75%;
    -webkit-flex: 0 0 43.75%;
    -moz-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .offset-lg-7 {
    margin: 0 0 0 43.75%;
  }
  .flex-lg-8 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-lg-8 {
    margin: 0 0 0 50%;
  }
  .flex-lg-9 {
    -ms-flex: 0 0 56.25%;
    -webkit-flex: 0 0 56.25%;
    -moz-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .offset-lg-9 {
    margin: 0 0 0 56.25%;
  }
  .flex-lg-10 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    -moz-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .offset-lg-10 {
    margin: 0 0 0 62.5%;
  }
  .flex-lg-11 {
    -ms-flex: 0 0 68.75%;
    -webkit-flex: 0 0 68.75%;
    -moz-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .offset-lg-11 {
    margin: 0 0 0 68.75%;
  }
  .flex-lg-12 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    -moz-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-lg-12 {
    margin: 0 0 0 75%;
  }
  .flex-lg-13 {
    -ms-flex: 0 0 81.25%;
    -webkit-flex: 0 0 81.25%;
    -moz-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .offset-lg-13 {
    margin: 0 0 0 81.25%;
  }
  .flex-lg-14 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    -moz-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .offset-lg-14 {
    margin: 0 0 0 87.5%;
  }
  .flex-lg-15 {
    -ms-flex: 0 0 93.75%;
    -webkit-flex: 0 0 93.75%;
    -moz-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .offset-lg-15 {
    margin: 0 0 0 93.75%;
  }
  .flex-lg-16 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-lg-16 {
    margin: 0 0 0 100%;
  }
  .flex-lg-auto {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: auto;
  }
}
@media screen and (min-width: 1252px) {
  .flex-xlg-1 {
    -ms-flex: 0 0 6.25%;
    -webkit-flex: 0 0 6.25%;
    -moz-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .offset-xlg-1 {
    margin: 0 0 0 6.25%;
  }
  .flex-xlg-2 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    -moz-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .offset-xlg-2 {
    margin: 0 0 0 12.5%;
  }
  .flex-xlg-3 {
    -ms-flex: 0 0 18.75%;
    -webkit-flex: 0 0 18.75%;
    -moz-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .offset-xlg-3 {
    margin: 0 0 0 18.75%;
  }
  .flex-xlg-4 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-xlg-4 {
    margin: 0 0 0 25%;
  }
  .flex-xlg-5 {
    -ms-flex: 0 0 31.25%;
    -webkit-flex: 0 0 31.25%;
    -moz-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .offset-xlg-5 {
    margin: 0 0 0 31.25%;
  }
  .flex-xlg-6 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    -moz-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .offset-xlg-6 {
    margin: 0 0 0 37.5%;
  }
  .flex-xlg-7 {
    -ms-flex: 0 0 43.75%;
    -webkit-flex: 0 0 43.75%;
    -moz-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .offset-xlg-7 {
    margin: 0 0 0 43.75%;
  }
  .flex-xlg-8 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-xlg-8 {
    margin: 0 0 0 50%;
  }
  .flex-xlg-9 {
    -ms-flex: 0 0 56.25%;
    -webkit-flex: 0 0 56.25%;
    -moz-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .offset-xlg-9 {
    margin: 0 0 0 56.25%;
  }
  .flex-xlg-10 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    -moz-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .offset-xlg-10 {
    margin: 0 0 0 62.5%;
  }
  .flex-xlg-11 {
    -ms-flex: 0 0 68.75%;
    -webkit-flex: 0 0 68.75%;
    -moz-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .offset-xlg-11 {
    margin: 0 0 0 68.75%;
  }
  .flex-xlg-12 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    -moz-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-xlg-12 {
    margin: 0 0 0 75%;
  }
  .flex-xlg-13 {
    -ms-flex: 0 0 81.25%;
    -webkit-flex: 0 0 81.25%;
    -moz-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .offset-xlg-13 {
    margin: 0 0 0 81.25%;
  }
  .flex-xlg-14 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    -moz-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .offset-xlg-14 {
    margin: 0 0 0 87.5%;
  }
  .flex-xlg-15 {
    -ms-flex: 0 0 93.75%;
    -webkit-flex: 0 0 93.75%;
    -moz-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .offset-xlg-15 {
    margin: 0 0 0 93.75%;
  }
  .flex-xlg-16 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-xlg-16 {
    margin: 0 0 0 100%;
  }
  .flex-xlg-auto {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: auto;
  }
}
.direction-column {
  display: flex;
  flex-direction: column;
}
.direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.direction-row {
  display: flex;
  flex-direction: row;
}
.direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-no-wrap {
  display: flex;
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}
.row-grid {
  display: grid;
  grid-gap: 30px;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.align-around {
  align-items: space-around;
}
.align-evenly {
  align-items: space-evenly;
}
.align-between {
  align-items: space-between;
}
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
._around {
  justify-content: space-around;
  align-items: space-around;
}
._evenly {
  justify-content: space-evenly;
  align-items: space-evenly;
}
._between {
  justify-content: space-between;
  align-items: space-between;
}
._center {
  justify-content: center;
  align-items: center;
}
._end {
  justify-content: end;
  align-items: end;
}
._around-flex {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}
._evenly-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}
._between-flex {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
._center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
._end-flex {
  display: flex;
  justify-content: end;
  align-items: end;
}
._around-grid {
  display: grid;
  justify-content: space-around;
  align-items: space-around;
}
._evenly-grid {
  display: grid;
  justify-content: space-evenly;
  align-items: space-evenly;
}
._between-grid {
  display: grid;
  justify-content: space-between;
  align-items: space-between;
}
._center-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
._end-grid {
  display: grid;
  justify-content: end;
  align-items: end;
}
/* Bg */
.m-blue:before,
.l-blue:after,
.bg-blue {
  background-color: blue;
}
.m-sky:before,
.l-sky:after,
.bg-sky {
  background-color: #81c8d8;
}
.m-summer-sky:before,
.l-summer-sky:after,
.bg-summer-sky {
  background-color: #38b0de;
}
.m-indigo:before,
.l-indigo:after,
.bg-indigo {
  background-color: #4b0082;
}
.m-azure:before,
.l-azure:after,
.bg-azure {
  background-color: #0080ff;
}
.m-arctic:before,
.l-artic:after,
.bg-artic {
  background-color: #c6e6fb;
}
.m-lapis:before,
.l-lapis:after,
.bg-lapis {
  background-color: #261b9c;
}
.m-admiral:before,
.l-admiral:after,
.bg-admiral {
  background-color: #2c3863;
}
.m-saphire:before,
.l-saphire:after,
.bg-saphire {
  background-color: #082567;
}
.m-biscay:before,
.l-biscay:after,
.bg-biscay {
  background-color: #1b486b;
}
.m-royal-blue,
.l-royal-blue,
.bg-royal-blue {
  background-color: #5269e0;
}
.m-picton-blue,
.l-picton-blue,
.bg-picton-blue {
  background-color: #4799eb;
}
.m-eastern-blue,
.l-eastern-blue,
.bg-eastern-blue {
  background-color: #14aab8;
}
.m-legion-blue,
.l-legion-blue,
.bg-legion-blue {
  background-color: #1f4e5a;
}
.m-bracing-blue:before,
.l-bracing-blue:after,
.bg-bracing-blue {
  background-color: #004682;
}
.m-spanish-blue,
.l-spanish-blue,
.bg-spanish-blue {
  background-color: #0370b7;
}
.m-tomb-blue,
.l-tomb-blue,
.bg-tomb-blue {
  background-color: #0295ce;
}
.m-green:before,
.l-green:after,
.bg-green {
  background-color: green;
}
.m-shamrock:before,
.l-shamrock:after,
.bg-shamrock {
  background-color: #009e60;
}
.m-lime:before,
.l-lime:after,
.bg-lime {
  background-color: #bfff00;
}
.m-seafoam:before,
.l-seafoam:after,
.bg-seafoam {
  background-color: #71eeb8;
}
.m-forest:before,
.l-forest:after,
.bg-forest {
  background-color: #0b6623;
}
.m-emerald:before,
.l-emerald:after,
.bg-emerald {
  background-color: #019875;
}
.m-eucalyptus:before,
.l-eucalyptus:after,
.bg-eucalyptus {
  background-color: #28a352;
}
.m-conifer:before,
.l-conifer:after,
.bg-conifer {
  background-color: #b2db34;
}
.m-spectra-green,
.l-spectra-green,
.bg-spectra-green {
  background-color: #029c8e;
}
.m-exquisite-turquoise,
.l-exquisite-turquoise,
.bg-exquisite-turquoise {
  background-color: #07d1bf;
}
.m-thallium-flame,
.l-thallium-flame,
.bg-thallium-flame {
  background-color: #60f4a0;
}
.m-yellow:before,
.l-yellow:after,
.bg-yellow {
  background-color: yellow;
}
.m-amber:before,
.l-amber:after,
.bg-amber {
  background-color: #ffbf00;
}
.m-canary:before,
.l-canary:after,
.bg-canary {
  background-color: #ffef00;
}
.m-gold:before,
.l-gold:after,
.bg-gold {
  background-color: #f9a602;
}
.m-fire:before,
.l-fire:after,
.bg-fire {
  background-color: #fda50f;
}
.m-honey:before,
.l-honey:after,
.bg-honey {
  background-color: #eb9605;
}
.m-spiced-nectarine:before,
.l-spiced-nectarine:after,
.bg-spiced-nectarine {
  background-color: #fcb76f;
}
.m-golden-nectar,
.l-golden-nectar,
.bg-golden-nectar {
  background-color: #ffdb69;
}
.m-orange:before,
.l-orange:after,
.bg-orange {
  background-color: orange;
}
.m-tangerine:before,
.l-tangerine:after,
.bg-tangerine {
  background-color: #f28500;
}
.m-tiger:before,
.l-tiger:after,
.bg-tiger {
  background-color: #fd6a02;
}
.m-carrot:before,
.l-carrot:after,
.bg-carrot {
  background-color: #ed9121;
}
.m-sandstone:before,
.l-sandstone:after,
.bg-sandstone {
  background-color: #d7902c;
}
.m-fuel-yellow:before,
.l-fuel-yellow:after,
.bg-fuel-yellow {
  background-color: #f2ac34;
}
.m-crusta:before,
.l-crusta:after,
.bg-crusta {
  background-color: #fc7634;
}
.m-roasted-sienna:before,
.l-roasted-sienna:after,
.bg-roasted-sienna {
  background-color: #e88666;
}
.m-chardonnay,
.l-chardonnay,
.bg-chardonnay {
  background-color: #ffc980;
}
.m-echinoida-torns,
.l-echinoida-torns,
.bg-echinoida-torns {
  background-color: #ffa658;
}
.m-teri-gaki-persimmon,
.l-teri-gaki-persimmon,
.bg-teri-gaki-persimmon {
  background-color: #ea5f40;
}
.m-brown:before,
.l-brown:after,
.bg-brown {
  background-color: brown;
}
.m-clay:before,
.l-clay:after,
.bg-clay {
  background-color: #734222;
}
.m-spice:before,
.l-spice:after,
.bg-spice {
  background-color: #793802;
}
.m-rust:before,
.l-rust:after,
.bg-rust {
  background-color: #8b4000;
}
.m-ginger:before,
.l-ginger:after,
.bg-ginger {
  background-color: #b06500;
}
.m-red:before,
.l-red:after,
.bg-red {
  background-color: red;
}
.m-cherry:before,
.l-cherry:after,
.bg-cherry {
  background-color: #790604;
}
.m-scarlet:before,
.l-scarlet:after,
.bg-scarlet {
  background-color: #ff2400;
}
.m-ruby:before,
.l-ruby:after,
.bg-ruby {
  background-color: #9b111e;
}
.m-purple:before,
.l-purple:after,
.bg-purple {
  background-color: purple;
}
.m-fuchsia:before,
.l-fuchsia:after,
.bg-fuchsia {
  background-color: #ff00ff;
}
.m-magenta:before,
.l-magenta:after,
.bg-magenta {
  background-color: #ff0090;
}
.m-flamingo:before,
.l-flamingo:after,
.bg-flamingo {
  background-color: #fca3b7;
}
.m-rose:before,
.l-rose:after,
.bg-rose {
  background-color: #ff66cc;
}
.m-imperial-purple,
.l-imperial-purple,
.bg-imperial-purple {
  background-color: #541d61;
}
.m-wild-aster:before,
.l-wild-aster:after,
.bg-wild-aster {
  background-color: #8f3066;
}
.m-popstar:before,
.l-popstar:after,
.bg-popstar {
  background-color: #c05166;
}
.m-pink:before,
.l-pink:after,
.bg-pink {
  background-color: pink;
}
.m-lilac:before,
.l-lilac:after,
.bg-lilac {
  background-color: #AA7ED6;
}
.m-amethyst:before,
.l-amethyst:after,
.bg-amethyst {
  background-color: #9966cc;
}
.m-ebony-clay,
.l-ebony-clay,
.bg-ebony-clay {
  background-color: #1f242e;
}
.m-black,
.l-black,
.bg-black {
  color: #000;
}
.m-white,
.l-white,
.bg-white {
  color: #fff;
}
.m-grey-111,
.l-grey-111,
.bg-grey-111 {
  background-color: #111;
}
.m-grey-222,
.l-grey-222,
.bg-grey-222 {
  background-color: #222;
}
.m-grey-333,
.l-grey-333,
.bg-grey-333 {
  background-color: #333;
}
.m-grey-444,
.l-grey-444,
.bg-grey-444 {
  background-color: #444;
}
.m-grey-555,
.l-grey-555,
.bg-grey-555 {
  background-color: #555;
}
.m-grey-666,
.l-grey-666,
.bg-grey-666 {
  background-color: #666;
}
.m-grey-777,
.l-grey-777,
.bg-grey-777 {
  background-color: #777;
}
.m-grey-888,
.l-grey-888,
.bg-grey-888 {
  background-color: #888;
}
.m-grey-999,
.l-grey-999,
.bg-grey-999 {
  background-color: #999;
}
.m-grey-aaa,
.l-grey-aaa,
.bg-grey-aaa {
  background-color: #aaa;
}
.m-grey-bbb,
.l-grey-bbb,
.bg-grey-bbb {
  background-color: #bbb;
}
.m-grey-ccc,
.l-grey-ccc,
.bg-grey-ccc {
  background-color: #ccc;
}
.m-grey-ddd,
.l-grey-ddd,
.bg-grey-ddd {
  background-color: #ddd;
}
.m-grey-eee,
.l-grey-eee,
.bg-grey-eee {
  background-color: #eee;
}
/* Colors */
.blue {
  color: blue;
}
.sky {
  color: #81c8d8;
}
.summer-sky {
  color: #38b0de;
}
.indigo {
  color: #4b0082;
}
.azure {
  color: #0080ff;
}
.artic {
  color: #c6e6fb;
}
.lapis {
  color: #261b9c;
}
.admiral {
  color: #2c3863;
}
.saphire {
  color: #082567;
}
.biscay {
  color: #1b486b;
}
.royal-blue {
  color: #5269e0;
}
.picton-blue {
  color: #4799eb;
}
.eastern-blue {
  color: #14aab8;
}
.legion-blue {
  color: #1f4e5a;
}
.bracing-blue {
  color: #004682;
}
.spanish-blue {
  color: #0370b7;
}
.tomb-blue {
  color: #0295ce;
}
.green {
  color: green;
}
.shamrock {
  color: #009e60;
}
.lime {
  color: #bfff00;
}
.seafoam {
  color: #71eeb8;
}
.forest {
  color: #0b6623;
}
.emerald {
  color: #019875;
}
.eucalyptus {
  color: #28a352;
}
.conifer {
  color: #b2db34;
}
.spectra-green {
  color: #029c8e;
}
.exquisite-turquoise {
  color: #07d1bf;
}
.thallium-flame {
  color: #60f4a0;
}
.yellow {
  color: yellow;
}
.amber {
  color: #ffbf00;
}
.canary {
  color: #ffef00;
}
.gold {
  color: #f9a602;
}
.fire {
  color: #fda50f;
}
.honey {
  color: #eb9605;
}
.spiced-nectarine {
  color: #fcb76f;
}
.golden-nectar {
  color: #ffdb69;
}
.orange {
  color: orange;
}
.tangerine {
  color: #f28500;
}
.tiger {
  color: #fd6a02;
}
.carrot {
  color: #ed9121;
}
.sandstone {
  color: #d7902c;
}
.fuel-yellow {
  color: #f2ac34;
}
.crusta {
  color: #fc7634;
}
.roasted-sienna {
  color: #e88666;
}
.chardonnay {
  color: #ffc980;
}
.echinoida-torns {
  color: #ffa658;
}
.teri-gaki-persimmon {
  color: #ea5f40;
}
.brown {
  color: brown;
}
.clay {
  color: #734222;
}
.spice {
  color: #793802;
}
.rust {
  color: #8b4000;
}
.ginger {
  color: #b06500;
}
.red {
  color: red;
}
.cherry {
  color: #790604;
}
.scarlet {
  color: #ff2400;
}
.ruby {
  color: #9b111e;
}
.pink {
  color: pink;
}
.fuchsia {
  color: #ff00ff;
}
.magenta {
  color: #ff0090;
}
.flamingo {
  color: #fca3b7;
}
.rose {
  color: #ff66cc;
}
.purple {
  color: purple;
}
.lilac {
  color: #AA7ED6;
}
.amethyst {
  color: #9966cc;
}
.imperial-purple {
  color: #541d61;
}
.wild-aster {
  color: #8f3066;
}
.popstar {
  color: #c05166;
}
.ebony-clay {
  color: #1f242e;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.grey-111 {
  color: #111;
}
.grey-222 {
  color: #222;
}
.grey-333 {
  color: #333;
}
.grey-444 {
  color: #444;
}
.grey-555 {
  color: #555;
}
.grey-666 {
  color: #666;
}
.grey-777 {
  color: #777;
}
.grey-888 {
  color: #888;
}
.grey-999 {
  color: #999;
}
.grey-aaa {
  color: #aaa;
}
.grey-bbb {
  color: #bbb;
}
.grey-ccc {
  color: #ccc;
}
.grey-ddd {
  color: #ddd;
}
.grey-eee {
  color: #eee;
}
/*
    linear gradients
*/
.biscay-to-eucalyptus {
  background-image: linear-gradient(to right, #1b486b, #28a352);
  -webkit-background-image: linear-gradient(to right, #1b486b, #28a352);
}
.eucalyptus-to-conifer {
  background-image: linear-gradient(to right, #28a352, #b2db34);
  -webkit-background-image: linear-gradient(to right, #28a352, #b2db34);
}
.conifer-to-fuel-yellow {
  background-image: linear-gradient(to right, #b2db34, #f2ac34);
  -webkit-background-image: linear-gradient(to right, #b2db34, #f2ac34);
}
.fuel-yellow-to-crusta {
  background-image: linear-gradient(to right, #f2ac34, #fc7634);
  -webkit-background-image: linear-gradient(to right, #f2ac34, #fc7634);
}
.imperial-purple-to-wild-aster {
  background-image: linear-gradient(to right, #541d61, #8f3066);
  -webkit-background-image: linear-gradient(to right, #541d61, #8f3066);
}
.wild-aster-to-popstar {
  background-image: linear-gradient(to right, #8f3066, #c05166);
  -webkit-background-image: linear-gradient(to right, #8f3066, #c05166);
}
.popstar-to-roasted-sienna {
  background-image: linear-gradient(to right, #c05166, #e88666);
  -webkit-background-image: linear-gradient(to right, #c05166, #e88666);
}
.roasted-sienna-to-spiced-nectarine {
  background-image: linear-gradient(to right, #e88666, #fcb76f);
  -webkit-background-image: linear-gradient(to right, #e88666, #fcb76f);
}
.ebony-clay-to-royal-blue {
  background-image: linear-gradient(to right, #1f242e, #5269e0);
  -webkit-background-image: linear-gradient(to right, #1f242e, #5269e0);
}
.royal-blue-to-picton-blue {
  background-image: linear-gradient(to right, #5269e0, #4799eb);
  -webkit-background-image: linear-gradient(to right, #5269e0, #4799eb);
}
.picton-blue-to-eastern-blue {
  background-image: linear-gradient(to right, #4799eb, #14aab8);
  -webkit-background-image: linear-gradient(to right, #4799eb, #14aab8);
}
.eastern-blue-to-chardonnay {
  background-image: linear-gradient(to right, #14aab8, #ffc980);
  -webkit-background-image: linear-gradient(to right, #14aab8, #ffc980);
}
.legion-blue-to-spectra-green {
  background-image: linear-gradient(to right, #1f4e5a, #029c8e);
  -webkit-background-image: linear-gradient(to right, #1f4e5a, #029c8e);
}
.spectra-green-to-golden-nectar {
  background-image: linear-gradient(to right, #029c8e, #ffdb69);
  -webkit-background-image: linear-gradient(to right, #029c8e, #ffdb69);
}
.golden-nectar-to-echinoida-torns {
  background-image: linear-gradient(to right, #ffdb69, #ffa658);
  -webkit-background-image: linear-gradient(to right, #ffdb69, #ffa658);
}
.echinoida-torns-to-teri-gaki-persimmon {
  background-image: linear-gradient(to right, #ffa658, #ea5f40);
  -webkit-background-image: linear-gradient(to right, #ffa658, #ea5f40);
}
.bracing-blue-to-spanish-blue {
  background-image: linear-gradient(to right, #004682, #0370b7);
  -webkit-background-image: linear-gradient(to right, #004682, #0370b7);
}
.spanish-blue-to-tomb-blue {
  background-image: linear-gradient(to right, #0370b7, #0295ce);
  -webkit-background-image: linear-gradient(to right, #0370b7, #0295ce);
}
.tomb-blue-to-exquisite-turquoise {
  background-image: linear-gradient(to right, #0295ce, #07d1bf);
  -webkit-background-image: linear-gradient(to right, #0295ce, #07d1bf);
}
.exquisite-turquoise-to-thallium-flame {
  background-image: linear-gradient(to right, #07d1bf, #60f4a0);
  -webkit-background-image: linear-gradient(to right, #07d1bf, #60f4a0);
}
/*
* Useful margin stuff
*/
.margin-10 {
  margin: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-20 {
  margin: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-30 {
  margin: 30px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-40 {
  margin: 40px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-50 {
  margin: 50px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-left-50 {
  margin-left: 50px;
}
.margin-60 {
  margin: 60px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-right-60 {
  margin-right: 60px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-left-60 {
  margin-left: 60px;
}
.margin-70 {
  margin: 70px;
}
.margin-top-70 {
  margin-top: 70px;
}
.margin-right-70 {
  margin-right: 70px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.margin-left-70 {
  margin-left: 70px;
}
.margin-80 {
  margin: 80px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-right-80 {
  margin-right: 80px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.margin-left-80 {
  margin-left: 80px;
}
.margin-90 {
  margin: 90px;
}
.margin-top-90 {
  margin-top: 90px;
}
.margin-right-90 {
  margin-right: 90px;
}
.margin-bottom-90 {
  margin-bottom: 90px;
}
.margin-left-90 {
  margin-left: 90px;
}
.margin-100 {
  margin: 100px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-right-100 {
  margin-right: 100px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-left-100 {
  margin-left: 100px;
}
.pad-10 {
  padding: 10px;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-right-10 {
  padding-right: 10px;
}
.pad-bottom-10 {
  padding-bottom: 10px;
}
.pad-left-10 {
  padding-left: 10px;
}
.pad-20 {
  padding: 20px;
}
.pad-top-20 {
  padding-top: 20px;
}
.pad-right-20 {
  padding-right: 20px;
}
.pad-bottom-20 {
  padding-bottom: 20px;
}
.pad-left-20 {
  padding-left: 20px;
}
.pad-30 {
  padding: 30px;
}
.pad-top-30 {
  padding-top: 30px;
}
.pad-right-30 {
  padding-right: 30px;
}
.pad-bottom-30 {
  padding-bottom: 30px;
}
.pad-left-30 {
  padding-left: 30px;
}
.pad-40 {
  padding: 40px;
}
.pad-top-40 {
  padding-top: 40px;
}
.pad-right-40 {
  padding-right: 40px;
}
.pad-bottom-40 {
  padding-bottom: 40px;
}
.pad-left-40 {
  padding-left: 40px;
}
.pad-50 {
  padding: 50px;
}
.pad-top-50 {
  padding-top: 50px;
}
.pad-right-50 {
  padding-right: 50px;
}
.pad-bottom-50 {
  padding-bottom: 50px;
}
.pad-left-50 {
  padding-left: 50px;
}
.pad-60 {
  padding: 60px;
}
.pad-top-60 {
  padding-top: 60px;
}
.pad-right-60 {
  padding-right: 60px;
}
.pad-bottom-60 {
  padding-bottom: 60px;
}
.pad-left-60 {
  padding-left: 60px;
}
.pad-70 {
  padding: 70px;
}
.pad-top-70 {
  padding-top: 70px;
}
.pad-right-70 {
  padding-right: 70px;
}
.pad-bottom-70 {
  padding-bottom: 70px;
}
.pad-left-70 {
  padding-left: 70px;
}
.pad-80 {
  padding: 80px;
}
.pad-top-80 {
  padding-top: 80px;
}
.pad-right-80 {
  padding-right: 80px;
}
.pad-bottom-80 {
  padding-bottom: 80px;
}
.pad-left-80 {
  padding-left: 80px;
}
.pad-90 {
  padding: 90px;
}
.pad-top-90 {
  padding-top: 90px;
}
.pad-right-90 {
  padding-right: 90px;
}
.pad-bottom-90 {
  padding-bottom: 90px;
}
.pad-left-90 {
  padding-left: 90px;
}
.pad-100 {
  padding: 100px;
}
.pad-top-100 {
  padding-top: 100px;
}
.pad-right-100 {
  padding-right: 100px;
}
.pad-bottom-100 {
  padding-bottom: 100px;
}
.pad-left-100 {
  padding-left: 100px;
}
@media screen and (min-width: 508px) {
  .margin-sm-10 {
    margin: 10px;
  }
  .margin-top-sm-10 {
    margin-top: 10px;
  }
  .margin-right-sm-10 {
    margin-right: 10px;
  }
  .margin-bottom-sm-10 {
    margin-bottom: 10px;
  }
  .margin-left-sm-10 {
    margin-left: 10px;
  }
  .margin-sm-20 {
    margin: 20px;
  }
  .margin-top-sm-20 {
    margin-top: 20px;
  }
  .margin-right-sm-20 {
    margin-right: 20px;
  }
  .margin-bottom-sm-20 {
    margin-bottom: 20px;
  }
  .margin-left-sm-20 {
    margin-left: 20px;
  }
  .margin-sm-30 {
    margin: 30px;
  }
  .margin-top-sm-30 {
    margin-top: 30px;
  }
  .margin-right-sm-30 {
    margin-right: 30px;
  }
  .margin-bottom-sm-30 {
    margin-bottom: 30px;
  }
  .margin-left-sm-30 {
    margin-left: 30px;
  }
  .margin-sm-40 {
    margin: 40px;
  }
  .margin-top-sm-40 {
    margin-top: 40px;
  }
  .margin-right-sm-40 {
    margin-right: 40px;
  }
  .margin-bottom-sm-40 {
    margin-bottom: 40px;
  }
  .margin-left-sm-40 {
    margin-left: 40px;
  }
  .margin-sm-50 {
    margin: 50px;
  }
  .margin-top-sm-50 {
    margin-top: 50px;
  }
  .margin-right-sm-50 {
    margin-right: 50px;
  }
  .margin-bottom-sm-50 {
    margin-bottom: 50px;
  }
  .margin-left-sm-50 {
    margin-left: 50px;
  }
  .margin-sm-60 {
    margin: 60px;
  }
  .margin-top-sm-60 {
    margin-top: 60px;
  }
  .margin-right-sm-60 {
    margin-right: 60px;
  }
  .margin-bottom-sm-60 {
    margin-bottom: 60px;
  }
  .margin-left-sm-60 {
    margin-left: 60px;
  }
  .margin-sm-70 {
    margin: 70px;
  }
  .margin-top-sm-70 {
    margin-top: 70px;
  }
  .margin-right-sm-70 {
    margin-right: 70px;
  }
  .margin-bottom-sm-70 {
    margin-bottom: 70px;
  }
  .margin-left-sm-70 {
    margin-left: 70px;
  }
  .margin-sm-80 {
    margin: 80px;
  }
  .margin-top-sm-80 {
    margin-top: 80px;
  }
  .margin-right-sm-80 {
    margin-right: 80px;
  }
  .margin-bottom-sm-80 {
    margin-bottom: 80px;
  }
  .margin-left-sm-80 {
    margin-left: 80px;
  }
  .margin-sm-90 {
    margin: 90px;
  }
  .margin-top-sm-90 {
    margin-top: 90px;
  }
  .margin-right-sm-90 {
    margin-right: 90px;
  }
  .margin-bottom-sm-90 {
    margin-bottom: 90px;
  }
  .margin-left-sm-90 {
    margin-left: 90px;
  }
  .margin-sm-100 {
    margin: 100px;
  }
  .margin-top-sm-100 {
    margin-top: 100px;
  }
  .margin-right-sm-100 {
    margin-right: 100px;
  }
  .margin-bottom-sm-100 {
    margin-bottom: 100px;
  }
  .margin-left-sm-100 {
    margin-left: 100px;
  }
  .pad-sm-10 {
    padding: 10px;
  }
  .pad-top-sm-10 {
    padding-top: 10px;
  }
  .pad-right-sm-10 {
    padding-right: 10px;
  }
  .pad-bottom-sm-10 {
    padding-bottom: 10px;
  }
  .pad-left-sm-10 {
    padding-left: 10px;
  }
  .pad-sm-20 {
    padding: 20px;
  }
  .pad-top-sm-20 {
    padding-top: 20px;
  }
  .pad-right-sm-20 {
    padding-right: 20px;
  }
  .pad-bottom-sm-20 {
    padding-bottom: 20px;
  }
  .pad-left-sm-20 {
    padding-left: 20px;
  }
  .pad-sm-30 {
    padding: 30px;
  }
  .pad-top-sm-30 {
    padding-top: 30px;
  }
  .pad-right-sm-30 {
    padding-right: 30px;
  }
  .pad-bottom-sm-30 {
    padding-bottom: 30px;
  }
  .pad-left-sm-30 {
    padding-left: 30px;
  }
  .pad-sm-40 {
    padding: 40px;
  }
  .pad-top-sm-40 {
    padding-top: 40px;
  }
  .pad-right-sm-40 {
    padding-right: 40px;
  }
  .pad-bottom-sm-40 {
    padding-bottom: 40px;
  }
  .pad-left-sm-40 {
    padding-left: 40px;
  }
  .pad-sm-50 {
    padding: 50px;
  }
  .pad-top-sm-50 {
    padding-top: 50px;
  }
  .pad-right-sm-50 {
    padding-right: 50px;
  }
  .pad-bottom-sm-50 {
    padding-bottom: 50px;
  }
  .pad-left-sm-50 {
    padding-left: 50px;
  }
  .pad-sm-60 {
    padding: 60px;
  }
  .pad-top-sm-60 {
    padding-top: 60px;
  }
  .pad-right-sm-60 {
    padding-right: 60px;
  }
  .pad-bottom-sm-60 {
    padding-bottom: 60px;
  }
  .pad-left-sm-60 {
    padding-left: 60px;
  }
  .pad-sm-70 {
    padding: 70px;
  }
  .pad-top-sm-70 {
    padding-top: 70px;
  }
  .pad-right-sm-70 {
    padding-right: 70px;
  }
  .pad-bottom-sm-70 {
    padding-bottom: 70px;
  }
  .pad-left-sm-70 {
    padding-left: 70px;
  }
  .pad-sm-80 {
    padding: 80px;
  }
  .pad-top-sm-80 {
    padding-top: 80px;
  }
  .pad-right-sm-80 {
    padding-right: 80px;
  }
  .pad-bottom-sm-80 {
    padding-bottom: 80px;
  }
  .pad-left-sm-80 {
    padding-left: 80px;
  }
  .pad-sm-90 {
    padding: 90px;
  }
  .pad-top-sm-90 {
    padding-top: 90px;
  }
  .pad-right-sm-90 {
    padding-right: 90px;
  }
  .pad-bottom-sm-90 {
    padding-bottom: 90px;
  }
  .pad-left-sm-90 {
    padding-left: 90px;
  }
  .pad-sm-100 {
    padding: 100px;
  }
  .pad-top-sm-100 {
    padding-top: 100px;
  }
  .pad-right-sm-100 {
    padding-right: 100px;
  }
  .pad-bottom-sm-100 {
    padding-bottom: 100px;
  }
  .pad-left-sm-100 {
    padding-left: 100px;
  }
}
@media screen and (min-width: 758px) {
  .margin-md-10 {
    margin: 10px;
  }
  .margin-top-md-10 {
    margin-top: 10px;
  }
  .margin-right-md-10 {
    margin-right: 10px;
  }
  .margin-bottom-md-10 {
    margin-bottom: 10px;
  }
  .margin-left-md-10 {
    margin-left: 10px;
  }
  .margin-md-20 {
    margin: 20px;
  }
  .margin-top-md-20 {
    margin-top: 20px;
  }
  .margin-right-md-20 {
    margin-right: 20px;
  }
  .margin-bottom-md-20 {
    margin-bottom: 20px;
  }
  .margin-left-md-20 {
    margin-left: 20px;
  }
  .margin-md-30 {
    margin: 30px;
  }
  .margin-top-md-30 {
    margin-top: 30px;
  }
  .margin-right-md-30 {
    margin-right: 30px;
  }
  .margin-bottom-md-30 {
    margin-bottom: 30px;
  }
  .margin-left-md-30 {
    margin-left: 30px;
  }
  .margin-md-40 {
    margin: 40px;
  }
  .margin-top-md-40 {
    margin-top: 40px;
  }
  .margin-right-md-40 {
    margin-right: 40px;
  }
  .margin-bottom-md-40 {
    margin-bottom: 40px;
  }
  .margin-left-md-40 {
    margin-left: 40px;
  }
  .margin-md-50 {
    margin: 50px;
  }
  .margin-top-md-50 {
    margin-top: 50px;
  }
  .margin-right-md-50 {
    margin-right: 50px;
  }
  .margin-bottom-md-50 {
    margin-bottom: 50px;
  }
  .margin-left-md-50 {
    margin-left: 50px;
  }
  .margin-md-60 {
    margin: 60px;
  }
  .margin-top-md-60 {
    margin-top: 60px;
  }
  .margin-right-md-60 {
    margin-right: 60px;
  }
  .margin-bottom-md-60 {
    margin-bottom: 60px;
  }
  .margin-left-md-60 {
    margin-left: 60px;
  }
  .margin-md-70 {
    margin: 70px;
  }
  .margin-top-md-70 {
    margin-top: 70px;
  }
  .margin-right-md-70 {
    margin-right: 70px;
  }
  .margin-bottom-md-70 {
    margin-bottom: 70px;
  }
  .margin-left-md-70 {
    margin-left: 70px;
  }
  .margin-md-80 {
    margin: 80px;
  }
  .margin-top-md-80 {
    margin-top: 80px;
  }
  .margin-right-md-80 {
    margin-right: 80px;
  }
  .margin-bottom-md-80 {
    margin-bottom: 80px;
  }
  .margin-left-md-80 {
    margin-left: 80px;
  }
  .margin-md-90 {
    margin: 90px;
  }
  .margin-top-md-90 {
    margin-top: 90px;
  }
  .margin-right-md-90 {
    margin-right: 90px;
  }
  .margin-bottom-md-90 {
    margin-bottom: 90px;
  }
  .margin-left-md-90 {
    margin-left: 90px;
  }
  .margin-md-100 {
    margin: 100px;
  }
  .margin-top-md-100 {
    margin-top: 100px;
  }
  .margin-right-md-100 {
    margin-right: 100px;
  }
  .margin-bottom-md-100 {
    margin-bottom: 100px;
  }
  .margin-left-md-100 {
    margin-left: 100px;
  }
  .pad-md-10 {
    padding: 10px;
  }
  .pad-top-md-10 {
    padding-top: 10px;
  }
  .pad-right-md-10 {
    padding-right: 10px;
  }
  .pad-bottom-md-10 {
    padding-bottom: 10px;
  }
  .pad-left-md-10 {
    padding-left: 10px;
  }
  .pad-md-20 {
    padding: 20px;
  }
  .pad-top-md-20 {
    padding-top: 20px;
  }
  .pad-right-md-20 {
    padding-right: 20px;
  }
  .pad-bottom-md-20 {
    padding-bottom: 20px;
  }
  .pad-left-md-20 {
    padding-left: 20px;
  }
  .pad-md-30 {
    padding: 30px;
  }
  .pad-top-md-30 {
    padding-top: 30px;
  }
  .pad-right-md-30 {
    padding-right: 30px;
  }
  .pad-bottom-md-30 {
    padding-bottom: 30px;
  }
  .pad-left-md-30 {
    padding-left: 30px;
  }
  .pad-md-40 {
    padding: 40px;
  }
  .pad-top-md-40 {
    padding-top: 40px;
  }
  .pad-right-md-40 {
    padding-right: 40px;
  }
  .pad-bottom-md-40 {
    padding-bottom: 40px;
  }
  .pad-left-md-40 {
    padding-left: 40px;
  }
  .pad-md-50 {
    padding: 50px;
  }
  .pad-top-md-50 {
    padding-top: 50px;
  }
  .pad-right-md-50 {
    padding-right: 50px;
  }
  .pad-bottom-md-50 {
    padding-bottom: 50px;
  }
  .pad-left-md-50 {
    padding-left: 50px;
  }
  .pad-md-60 {
    padding: 60px;
  }
  .pad-top-md-60 {
    padding-top: 60px;
  }
  .pad-right-md-60 {
    padding-right: 60px;
  }
  .pad-bottom-md-60 {
    padding-bottom: 60px;
  }
  .pad-left-md-60 {
    padding-left: 60px;
  }
  .pad-md-70 {
    padding: 70px;
  }
  .pad-top-md-70 {
    padding-top: 70px;
  }
  .pad-right-md-70 {
    padding-right: 70px;
  }
  .pad-bottom-md-70 {
    padding-bottom: 70px;
  }
  .pad-left-md-70 {
    padding-left: 70px;
  }
  .pad-md-80 {
    padding: 80px;
  }
  .pad-top-md-80 {
    padding-top: 80px;
  }
  .pad-right-md-80 {
    padding-right: 80px;
  }
  .pad-bottom-md-80 {
    padding-bottom: 80px;
  }
  .pad-left-md-80 {
    padding-left: 80px;
  }
  .pad-md-90 {
    padding: 90px;
  }
  .pad-top-md-90 {
    padding-top: 90px;
  }
  .pad-right-md-90 {
    padding-right: 90px;
  }
  .pad-bottom-md-90 {
    padding-bottom: 90px;
  }
  .pad-left-md-90 {
    padding-left: 90px;
  }
  .pad-md-100 {
    padding: 100px;
  }
  .pad-top-md-100 {
    padding-top: 100px;
  }
  .pad-right-md-100 {
    padding-right: 100px;
  }
  .pad-bottom-md-100 {
    padding-bottom: 100px;
  }
  .pad-left-md-100 {
    padding-left: 100px;
  }
}
@media screen and (min-width: 992px) {
  .margin-lg-10 {
    margin: 10px;
  }
  .margin-top-lg-10 {
    margin-top: 10px;
  }
  .margin-right-lg-10 {
    margin-right: 10px;
  }
  .margin-bottom-lg-10 {
    margin-bottom: 10px;
  }
  .margin-left-lg-10 {
    margin-left: 10px;
  }
  .margin-lg-20 {
    margin: 20px;
  }
  .margin-top-lg-20 {
    margin-top: 20px;
  }
  .margin-right-lg-20 {
    margin-right: 20px;
  }
  .margin-bottom-lg-20 {
    margin-bottom: 20px;
  }
  .margin-left-lg-20 {
    margin-left: 20px;
  }
  .margin-lg-30 {
    margin: 30px;
  }
  .margin-top-lg-30 {
    margin-top: 30px;
  }
  .margin-right-lg-30 {
    margin-right: 30px;
  }
  .margin-bottom-lg-30 {
    margin-bottom: 30px;
  }
  .margin-left-lg-30 {
    margin-left: 30px;
  }
  .margin-lg-40 {
    margin: 40px;
  }
  .margin-top-lg-40 {
    margin-top: 40px;
  }
  .margin-right-lg-40 {
    margin-right: 40px;
  }
  .margin-bottom-lg-40 {
    margin-bottom: 40px;
  }
  .margin-left-lg-40 {
    margin-left: 40px;
  }
  .margin-lg-50 {
    margin: 50px;
  }
  .margin-top-lg-50 {
    margin-top: 50px;
  }
  .margin-right-lg-50 {
    margin-right: 50px;
  }
  .margin-bottom-lg-50 {
    margin-bottom: 50px;
  }
  .margin-left-lg-50 {
    margin-left: 50px;
  }
  .margin-lg-60 {
    margin: 60px;
  }
  .margin-top-lg-60 {
    margin-top: 60px;
  }
  .margin-right-lg-60 {
    margin-right: 60px;
  }
  .margin-bottom-lg-60 {
    margin-bottom: 60px;
  }
  .margin-left-lg-60 {
    margin-left: 60px;
  }
  .margin-lg-70 {
    margin: 70px;
  }
  .margin-top-lg-70 {
    margin-top: 70px;
  }
  .margin-right-lg-70 {
    margin-right: 70px;
  }
  .margin-bottom-lg-70 {
    margin-bottom: 70px;
  }
  .margin-left-lg-70 {
    margin-left: 70px;
  }
  .margin-lg-80 {
    margin: 80px;
  }
  .margin-top-lg-80 {
    margin-top: 80px;
  }
  .margin-right-lg-80 {
    margin-right: 80px;
  }
  .margin-bottom-lg-80 {
    margin-bottom: 80px;
  }
  .margin-left-lg-80 {
    margin-left: 80px;
  }
  .margin-lg-90 {
    margin: 90px;
  }
  .margin-top-lg-90 {
    margin-top: 90px;
  }
  .margin-right-lg-90 {
    margin-right: 90px;
  }
  .margin-bottom-lg-90 {
    margin-bottom: 90px;
  }
  .margin-left-lg-90 {
    margin-left: 90px;
  }
  .margin-lg-100 {
    margin: 100px;
  }
  .margin-top-lg-100 {
    margin-top: 100px;
  }
  .margin-right-lg-100 {
    margin-right: 100px;
  }
  .margin-bottom-lg-100 {
    margin-bottom: 100px;
  }
  .margin-left-lg-100 {
    margin-left: 100px;
  }
  .pad-lg-10 {
    padding: 10px;
  }
  .pad-top-lg-10 {
    padding-top: 10px;
  }
  .pad-right-lg-10 {
    padding-right: 10px;
  }
  .pad-bottom-lg-10 {
    padding-bottom: 10px;
  }
  .pad-left-lg-10 {
    padding-left: 10px;
  }
  .pad-lg-20 {
    padding: 20px;
  }
  .pad-top-lg-20 {
    padding-top: 20px;
  }
  .pad-right-lg-20 {
    padding-right: 20px;
  }
  .pad-bottom-lg-20 {
    padding-bottom: 20px;
  }
  .pad-left-lg-20 {
    padding-left: 20px;
  }
  .pad-lg-30 {
    padding: 30px;
  }
  .pad-top-lg-30 {
    padding-top: 30px;
  }
  .pad-right-lg-30 {
    padding-right: 30px;
  }
  .pad-bottom-lg-30 {
    padding-bottom: 30px;
  }
  .pad-left-lg-30 {
    padding-left: 30px;
  }
  .pad-lg-40 {
    padding: 40px;
  }
  .pad-top-lg-40 {
    padding-top: 40px;
  }
  .pad-right-lg-40 {
    padding-right: 40px;
  }
  .pad-bottom-lg-40 {
    padding-bottom: 40px;
  }
  .pad-left-lg-40 {
    padding-left: 40px;
  }
  .pad-lg-50 {
    padding: 50px;
  }
  .pad-top-lg-50 {
    padding-top: 50px;
  }
  .pad-right-lg-50 {
    padding-right: 50px;
  }
  .pad-bottom-lg-50 {
    padding-bottom: 50px;
  }
  .pad-left-lg-50 {
    padding-left: 50px;
  }
  .pad-lg-60 {
    padding: 60px;
  }
  .pad-top-lg-60 {
    padding-top: 60px;
  }
  .pad-right-lg-60 {
    padding-right: 60px;
  }
  .pad-bottom-lg-60 {
    padding-bottom: 60px;
  }
  .pad-left-lg-60 {
    padding-left: 60px;
  }
  .pad-lg-70 {
    padding: 70px;
  }
  .pad-top-lg-70 {
    padding-top: 70px;
  }
  .pad-right-lg-70 {
    padding-right: 70px;
  }
  .pad-bottom-lg-70 {
    padding-bottom: 70px;
  }
  .pad-left-lg-70 {
    padding-left: 70px;
  }
  .pad-lg-80 {
    padding: 80px;
  }
  .pad-top-lg-80 {
    padding-top: 80px;
  }
  .pad-right-lg-80 {
    padding-right: 80px;
  }
  .pad-bottom-lg-80 {
    padding-bottom: 80px;
  }
  .pad-left-lg-80 {
    padding-left: 80px;
  }
  .pad-lg-90 {
    padding: 90px;
  }
  .pad-top-lg-90 {
    padding-top: 90px;
  }
  .pad-right-lg-90 {
    padding-right: 90px;
  }
  .pad-bottom-lg-90 {
    padding-bottom: 90px;
  }
  .pad-left-lg-90 {
    padding-left: 90px;
  }
  .pad-lg-100 {
    padding: 100px;
  }
  .pad-top-lg-100 {
    padding-top: 100px;
  }
  .pad-right-lg-100 {
    padding-right: 100px;
  }
  .pad-bottom-lg-100 {
    padding-bottom: 100px;
  }
  .pad-left-lg-100 {
    padding-left: 100px;
  }
}
@media screen and (min-width: 1252px) {
  .margin-xlg-10 {
    margin: 10px;
  }
  .margin-top-xlg-10 {
    margin-top: 10px;
  }
  .margin-right-xlg-10 {
    margin-right: 10px;
  }
  .margin-bottom-xlg-10 {
    margin-bottom: 10px;
  }
  .margin-left-xlg-10 {
    margin-left: 10px;
  }
  .margin-xlg-20 {
    margin: 20px;
  }
  .margin-top-xlg-20 {
    margin-top: 20px;
  }
  .margin-right-xlg-20 {
    margin-right: 20px;
  }
  .margin-bottom-xlg-20 {
    margin-bottom: 20px;
  }
  .margin-left-xlg-20 {
    margin-left: 20px;
  }
  .margin-xlg-30 {
    margin: 30px;
  }
  .margin-top-xlg-30 {
    margin-top: 30px;
  }
  .margin-right-xlg-30 {
    margin-right: 30px;
  }
  .margin-bottom-xlg-30 {
    margin-bottom: 30px;
  }
  .margin-left-xlg-30 {
    margin-left: 30px;
  }
  .margin-xlg-40 {
    margin: 40px;
  }
  .margin-top-xlg-40 {
    margin-top: 40px;
  }
  .margin-right-xlg-40 {
    margin-right: 40px;
  }
  .margin-bottom-xlg-40 {
    margin-bottom: 40px;
  }
  .margin-left-xlg-40 {
    margin-left: 40px;
  }
  .margin-xlg-50 {
    margin: 50px;
  }
  .margin-top-xlg-50 {
    margin-top: 50px;
  }
  .margin-right-xlg-50 {
    margin-right: 50px;
  }
  .margin-bottom-xlg-50 {
    margin-bottom: 50px;
  }
  .margin-left-xlg-50 {
    margin-left: 50px;
  }
  .margin-xlg-60 {
    margin: 60px;
  }
  .margin-top-xlg-60 {
    margin-top: 60px;
  }
  .margin-right-xlg-60 {
    margin-right: 60px;
  }
  .margin-bottom-xlg-60 {
    margin-bottom: 60px;
  }
  .margin-left-xlg-60 {
    margin-left: 60px;
  }
  .margin-xlg-70 {
    margin: 70px;
  }
  .margin-top-xlg-70 {
    margin-top: 70px;
  }
  .margin-right-xlg-70 {
    margin-right: 70px;
  }
  .margin-bottom-xlg-70 {
    margin-bottom: 70px;
  }
  .margin-left-xlg-70 {
    margin-left: 70px;
  }
  .margin-xlg-80 {
    margin: 80px;
  }
  .margin-top-xlg-80 {
    margin-top: 80px;
  }
  .margin-right-xlg-80 {
    margin-right: 80px;
  }
  .margin-bottom-xlg-80 {
    margin-bottom: 80px;
  }
  .margin-left-xlg-80 {
    margin-left: 80px;
  }
  .margin-xlg-90 {
    margin: 90px;
  }
  .margin-top-xlg-90 {
    margin-top: 90px;
  }
  .margin-right-xlg-90 {
    margin-right: 90px;
  }
  .margin-bottom-xlg-90 {
    margin-bottom: 90px;
  }
  .margin-left-xlg-90 {
    margin-left: 90px;
  }
  .margin-xlg-100 {
    margin: 100px;
  }
  .margin-top-xlg-100 {
    margin-top: 100px;
  }
  .margin-right-xlg-100 {
    margin-right: 100px;
  }
  .margin-bottom-xlg-100 {
    margin-bottom: 100px;
  }
  .margin-left-xlg-100 {
    margin-left: 100px;
  }
  .pad-xlg-10 {
    padding: 10px;
  }
  .pad-top-xlg-10 {
    padding-top: 10px;
  }
  .pad-right-xlg-10 {
    padding-right: 10px;
  }
  .pad-bottom-xlg-10 {
    padding-bottom: 10px;
  }
  .pad-left-xlg-10 {
    padding-left: 10px;
  }
  .pad-xlg-20 {
    padding: 20px;
  }
  .pad-top-xlg-20 {
    padding-top: 20px;
  }
  .pad-right-xlg-20 {
    padding-right: 20px;
  }
  .pad-bottom-xlg-20 {
    padding-bottom: 20px;
  }
  .pad-left-xlg-20 {
    padding-left: 20px;
  }
  .pad-xlg-30 {
    padding: 30px;
  }
  .pad-top-xlg-30 {
    padding-top: 30px;
  }
  .pad-right-xlg-30 {
    padding-right: 30px;
  }
  .pad-bottom-xlg-30 {
    padding-bottom: 30px;
  }
  .pad-left-xlg-30 {
    padding-left: 30px;
  }
  .pad-xlg-40 {
    padding: 40px;
  }
  .pad-top-xlg-40 {
    padding-top: 40px;
  }
  .pad-right-xlg-40 {
    padding-right: 40px;
  }
  .pad-bottom-xlg-40 {
    padding-bottom: 40px;
  }
  .pad-left-xlg-40 {
    padding-left: 40px;
  }
  .pad-xlg-50 {
    padding: 50px;
  }
  .pad-top-xlg-50 {
    padding-top: 50px;
  }
  .pad-right-xlg-50 {
    padding-right: 50px;
  }
  .pad-bottom-xlg-50 {
    padding-bottom: 50px;
  }
  .pad-left-xlg-50 {
    padding-left: 50px;
  }
  .pad-xlg-60 {
    padding: 60px;
  }
  .pad-top-xlg-60 {
    padding-top: 60px;
  }
  .pad-right-xlg-60 {
    padding-right: 60px;
  }
  .pad-bottom-xlg-60 {
    padding-bottom: 60px;
  }
  .pad-left-xlg-60 {
    padding-left: 60px;
  }
  .pad-xlg-70 {
    padding: 70px;
  }
  .pad-top-xlg-70 {
    padding-top: 70px;
  }
  .pad-right-xlg-70 {
    padding-right: 70px;
  }
  .pad-bottom-xlg-70 {
    padding-bottom: 70px;
  }
  .pad-left-xlg-70 {
    padding-left: 70px;
  }
  .pad-xlg-80 {
    padding: 80px;
  }
  .pad-top-xlg-80 {
    padding-top: 80px;
  }
  .pad-right-xlg-80 {
    padding-right: 80px;
  }
  .pad-bottom-xlg-80 {
    padding-bottom: 80px;
  }
  .pad-left-xlg-80 {
    padding-left: 80px;
  }
  .pad-xlg-90 {
    padding: 90px;
  }
  .pad-top-xlg-90 {
    padding-top: 90px;
  }
  .pad-right-xlg-90 {
    padding-right: 90px;
  }
  .pad-bottom-xlg-90 {
    padding-bottom: 90px;
  }
  .pad-left-xlg-90 {
    padding-left: 90px;
  }
  .pad-xlg-100 {
    padding: 100px;
  }
  .pad-top-xlg-100 {
    padding-top: 100px;
  }
  .pad-right-xlg-100 {
    padding-right: 100px;
  }
  .pad-bottom-xlg-100 {
    padding-bottom: 100px;
  }
  .pad-left-xlg-100 {
    padding-left: 100px;
  }
}
.form {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.iTxt {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
