/* basic classes */
* {
  box-sizing: border-box;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.hide-none {
  visibility: hidden;
  display: none;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.show-block {
  visibility: visible;
  display: block;
}
.show-flex {
  visibility: visible;
  display: flex;
}
.show-grid {
  visibility: visible;
  display: grid;
}
.transition-02 {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.transition-05 {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.transition-07 {
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}
.transition-1 {
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.transition-15 {
  transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
}
.ease {
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
.linear {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}
.ease-in {
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.bold {
  font-weight: bold;
}
.font-w-100 {
  font-weight: 100;
}
.font-w-200 {
  font-weight: 200;
}
.font-w-300 {
  font-weight: 300;
}
.font-w-400 {
  font-weight: 400;
}
.font-w-500 {
  font-weight: 500;
}
.font-w-600 {
  font-weight: 600;
}
.font-w-700 {
  font-weight: 700;
}
.font-w-800 {
  font-weight: 800;
}
.font-w-900 {
  font-weight: 900;
}
.font-w-1000 {
  font-weight: 1000;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.justify {
  text-align: justify;
}
.font-xlg {
  font-size: 3em;
}
.font-lg {
  font-size: 2em;
}
.font-md {
  font-size: 1.5em;
}
.font-normal {
  font-size: 1em;
}
.title-1 {
  font-size: 2em;
  font-family: serif;
  text-transform: capitalize;
}
.title-2 {
  font-size: 1.5em;
  font-family: serif;
  text-transform: capitalize;
}
.size-full {
  width: 100%;
  height: auto;
}
.size-half {
  width: 50%;
  height: auto;
}
.rounded-border {
  border-radius: 5px;
}
.circle {
  border-radius: 50%;
}
.link {
  text-decoration: none;
}
.link:hover {
  transition-duration: 0.2;
  -webkit-transition-duration: 0.2;
}
.link:click {
  color: inherit;
}
.link:visited {
  color: inherit;
}
.button {
  border-radius: 5px;
  padding: 10px 20px;
  transition-duration: 0.2;
  -webkit-transition-duration: 0.2;
}
/* underline */
.underline-middle,
.underline-left {
  position: relative;
  text-decoration: none;
}
.underline-middle:before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  bottom: -2px;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.underline-middle:hover:before {
  width: 100%;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.underline-left:after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  bottom: -2px;
  width: 0;
}
.underline-left:hover:after {
  width: 100%;
}
/* message box */
/* -----------------> EDITED <-----------------
By: Luciano Alvez
Ref:https://codepen.io/Nusky/pen/NogRVb?fbclid=IwAR0pArF1_fx4FGqBca5G4kuBt9pE7xa7BL0n5_DcZTl_SBwBVUJpNVwF0wo
*/
.mes-box {
  height: 60px;
  background: #dedede;
  border-radius: 2px;
  margin-top: 20px;
}
.mes-box-theme {
  background: #643a7a;
  max-height: 60px;
  font-size: 26px;
  color: #fff;
  width: 45%;
  font-weight: bold;
  position: relative;
  float: left;
  border-radius: 2px 0 0 0 2px;
}
.mes-box-theme:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -60px;
  width: 0;
  height: 0;
  border-left: 30px solid #643A7A;
  border-right: 45px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.mes-box-title {
  background: #84539e;
  padding: 15px;
  max-width: 5%;
}
.mes-box-content {
  position: relative;
  left: 40px;
  line-height: 60px;
  font-weight: bold;
  font-size: 1rem;
}
